body 
{
    direction:rtl;
    margin:0 0;
}



.speech-wrapper {
    padding: 20px 40px;
    direction: ltr;
}



.bubble {
    width: 240px;
    height: auto;
    display: block;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 2px 8px 5px #000;
    position: relative;
    margin: 0 0 25px;
    &.alt {
    margin: 0 0 0 60px;
}}

.txt {
    padding: 8px 55px 8px 14px;
    direction:rtl;
}
.name {
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 4px;
    color: #3498db;
&.alt
{
    color: #2ecc71;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 4px;
}}

.alt {
    color: forestgreen;
    font-weight: 600;
    font-size: 16px;
    margin: 0 0 4px;
}
.message {
    font-size: 14px;
    margin: 0;
    color: #2b2b2b;
}




.bubble-arrow {
    position: absolute;
    width: 0;
    bottom: 42px;
    left: -16px;
    height: 0;
    .alt{
    right: -2px;
    bottom: 40px;
    left: auto;
         }
}


.bubble-arrow:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid #f5f5f5;
    border-radius: 0 20px 0;
    width: 15px;
    height: 30px;
    transform: rotate(145deg);
}

.bubble-arrow.alt:after {
    transform: rotate(45deg) scaleY(-1);
}

#container {
    width: calc(100vw - 10px);
    height: calc(100vh - 10px);
    border: 5px solid black;
    position:fixed;
    bottom:0;
    right:0;
    z-index:100;
}

#down{
    position:fixed;
    bottom:5px;
    margin:auto auto;
    z-index:200
}

#Text1{
    width:calc(100vw - 10px - 20vw);
    height:30px;
}

#Button1{
    width:15vw;
    height:35px
}

#convers {
    position: absolute;
    bottom: 0;
    width: calc(100vw - 10px);
    z-index:0;
}